from borderliner.core import pipelines,etl
import pandas

def transform(data:pandas.DataFrame,*args,**kwargs):
    
    def parse_df(df):
       # your transform code goes here!
       print('your data is not being transformed') # remove this warning
       return df
    
    if isinstance(data,list):
        for df in data:
            df = parse_df(df)
        return data
    if isinstance(data,pandas.DataFrame):
        df = parse_df(data)
        return df
    
    

if __name__ == '__main__':
    p = etl.EtlPipeline("{config_yml_file}")
    # Transformation disabled by default
    # p.transform = transform
    p.find_entry_point()